@white : #fff;

body {
  background  : #e53935;
  background  : -webkit-linear-gradient(to left, #e53935, #e35d5b);
  background  : linear-gradient(to left, #e53935, #e35d5b);
  width       : 100vw;
  height      : 100vh;
  color       : @white;
  font-family : Helvetica;
  margin      : 0;
}

.logo-github {
  position : absolute;
  right    : 60px;
  top      : 60px;

  @media only screen and (max-width : 900px) {
    right : 20px;
    top   : 30px;
  }
}

.logo {
  font-size      : 11px;
  letter-spacing : 2px;
  display        : flex;
  align-items    : center;
  position       : absolute;
  left           : 60px;
  top            : 40px;
  font-weight    : 300;
  line-height    : 16px;

  span {
    border-left  : 2px solid white;
    padding-left : 16px;
  }

  @media only screen and (max-width : 900px) {
    left : 20px;
    top  : 20px;
  }

  img {
    width        : 60px;
    margin-right : 16px;
  }
}

.content-container {
  text-align : center;
  margin-top : 180px;

  @media only screen and (max-width : 530px) {
    margin-top : 140px;
  }

  .title {
    font-family : "MarkMyWords";
    font-size   : 72px;

    @media only screen and (max-width : 500px) {
      font-size : 50px;
    }
  }
}

.content {
  margin    : 80px auto;
  max-width : 900px;
  width     : 100%;

  @media only screen and (max-width : 530px) {
    margin : 60px auto;
  }

  a {
    color           : @white;
    font-family     : Helvetica;
    text-decoration : none;
    text-align      : center;
    line-height     : 120px;
    width           : 22%;
    height          : 120px;
    display         : inline-block;
    float           : left;
    margin          : 16px 16px;

    &:first-child {
      margin-left : 0;
    }

    &:last-child {
      margin-right : 0;
    }

    @media only screen and (max-width : 900px) {
      width  : 44%;
      margin : 16px 16px;

      &:first-child {
        margin-left : 16px;
      }

      &:last-child {
        margin-right : 16px;
      }
    }

    @media only screen and (max-width : 530px) {
      width : 40%;
    }
  }
  .case {
    width               : 100%;
    display             : inline-block;
    height              : 120px;
    border              : 2px solid white;
    border-radius       : 5px;

    background-image    : linear-gradient(to top, transparent, transparent 50%, #fff 50%, #fff);
    background-position : 0 100%;
    background-size     : 100% 200%;
    transition          : all .15s ease-in;
    font-weight         : 300;
    font-size           : 16px;
    letter-spacing      : 2px;

    &:hover {
      background-position : 0 0;
      color               : #e44542;
      letter-spacing      : 2px;
      font-weight         : 400;
    }
  }
}



